.root {
  @apply relative flex w-12 h-[25px];
}
.root > input {
  @apply absolute left-0 top-0 w-full h-full opacity-0 z-20 cursor-pointer;
}
.root > input + span {
  @apply rounded-[34px] absolute left-0 top-0 w-full h-full z-10;
  background-color: #e9ecef;
  transition: 0.3s ease all;
}
.root > input + span::after {
  content: '';
  transition: 0.3s ease all;
  @apply absolute h-4 w-4 rounded-full bg-white left-1 translate-y-1/2 bottom-1/2;
}

.root > input:checked + span {
  @apply bg-primary;
}
.root > input:checked + span::after {
  @apply left-[27px];
}
.root + p {
  @apply text-sm text-dark ml-7;
}
