.root {
  @apply relative w-[inherit] h-[inherit];
}
.root.error {
  @apply border-1 border-danger;
}
.root > span {
  @apply flex items-center text-sm outline-none rounded-sm duration-300
  min-h-[46px] pb-1.5 px-[22px] text-[#495057];
  border: 1px solid #f3f3f3;
  color: #495057;
  transition: 0.3s ease all;
}
.root > span:not(:disabled) {
  cursor: pointer;
}
.root > span:focus {
  @apply border-info;
}
.root > span ul {
  @apply flex flex-wrap;
}
.root > span ul li {
  @apply flex items-center mt-1.5 mr-1.5 h-fit;
}
.root > span ul li input {
  @apply p-0 border-0 h-fit;
}

.root > div {
  @apply flex flex-col absolute w-full h-[inherit] bg-white z-50;
  border: 1px solid #f3f3f3;
  border-top: 0;
}
.root > div > span {
  @apply p-1;
}
.root > div > span input {
  @apply h-[30px] p-1 text-[13px];
}
